sentence-transformers==2.2.2
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
gunicorn==20.1.0


absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
apiai
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
async-timeout
asyncer
atomicwrites
attrs
Authlib
Babel
backcall
backoff
bcrypt
beautifulsoup4
bidict
bleach
blinker
cachetools
captcha
certifi
cffi
cfgv
chardet
charset-normalizer
chevron
chex
click
colorama
comm
contourpy
cryptography
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-iconify
dash-mantine-components
dash-table
dash-tools
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distlib
distro
Django
dnspython
docopt
email_validator
emoji
entrypoints
et-xmlfile
etils
eval_type_backport
exceptiongroup
executing
faiss-cpu
fastapi
fastjsonschema
filelock
filetype
Flask
Flask-Bcrypt
flask-cors
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flatbuffers
flax
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-speech
google-pasta
googleapis-common-protos
googlemaps
greenlet
grpcio
grpcio-status

h11
h5py
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
humanize
identify
idna
importlib_metadata
importlib_resources
infermedica-api
iniconfig
InstructorEmbedding
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langchain==0.0.345
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-pinecone
langchain-tests
langchain-text-splitters
langdetect
langsmith
Lazify
libclang
literalai
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl

mistune
ml-dtypes
mpmath
msgpack
multidict
multitasking
mypy-extensions
namex
narwhals
nba_api
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
node
nodeenv
notebook
notebook_shim
numexpr
numpy
oauthlib
odict
olefile
openai
openapi-schema-pydantic
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optax
optree
orbax-checkpoint
orjson
outcome
overrides
packaging
pandas
pandas-datareader
pandocfilters
parso
pickleshare
pillow
pinecone
pinecone-client
pinecone-plugin-interface
pipreqs
platformdirs
playsound
plotly
pluggy
plumber
pre-commit
prometheus-client
prompt_toolkit
propcache
proto-plus
protobuf
protoc-gen-openapiv2
psutil
psycopg2
pure-eval
py
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
